$color_header: #75827E;
$color_content: #E4F0ED;
$color_footer: #419AC0;
$color_headings: #419AC0;
$color_nav: #419AC0;


#{headings()}, strong, legend {
        color: $color_headings;
    }