
$header_url: image-url("Cabecera.png") ;
$footer_url: image-url("Pie.png") ;
$home_body_background_url: image-url("home/FondoInicio.png");
$home_igape_url: image-url("home/Igape.jpg");
$home_team_url: image-url("home/FondoInicio.png");
$contact_heima_image: image-url("contact/fondo.jpg");