%ul#header_nav.nav-bar
    %li.nav_tab= link_to t("header.nav.home"), l_company_home_path
    %li.nav_tab= link_to t("header.nav.services"), l_company_services_path
    %li.nav_tab= link_to t("header.nav.contact"), l_company_contact_path
    %li.nav_tab.languages_bar= render :partial => "shared/languages"
 