/*
* depend_on shared/base
*/


@import "../shared/base.css.scss";
@import "../application/header.css.scss";
@import "../application/footer.css.scss";
@import "../application/languages_bar.css.scss";
@import "../application/user_session_panel.css.scss";

body {
    #content_container {
        background: $color_content;
        @include clearfix;
        #content {
            $ninesixty_columns: 16;
            @include grid_container;
            @include clearfix;
            min-height: 500px;
            h1 {
                text-align: left;
            }
        }
    }
    a {
        text-decoration: none;
    }
    strong {
    }
    .translation_missing {color: red;}
}
