

#header_container {
    @include clearfix;
    background: $color_header;
    header {
        @include clearfix;
        $ninesixty_columns: 12;
        @include grid_container;
        div#main_logo {
            @include grid(4);
            @include alpha;
            img { height: 100px;}
        }
        div#header_right {
          float: right;
          width: 650px;
        }
        ul#header_nav {
            margin: {top: 2px; bottom: 0px;}
            background: $color_nav;
            /*        $nav_item_separation: 1px;
            @include inline_block_list_container;
            background: transparentize($gris_claro, 0.6);*/
            float: right;
            width: 958px;
            text-align: center;
            
            li {
                width: 100px;
                a {color: white;}
            }
            li.languages_bar {
                border:none;
                float:right;
                overflow-y: overflow;
            }
        }
        
        ul#languages_bar {
        }
    }
}