$languages_bar_width: 26px;
$flags_width: 20px;
$flags_spacing: 3px;

ul#header_nav li ul#available_languages {
  float: right;
  width: 30px;
  li.locale {
     width: $flags_width;
     margin: $flags_spacing;
     a {
       img {
           width: 100%;
       }
     }
  }
}
